@using Anime.Data;
@using Anime.Model;
@using Microsoft.EntityFrameworkCore;

@inject AppState state;
@inject NavigationManager nav;

@page "/addProduct"

@if (@state.UserRoot != false)
{
    <button @onclick="Reg" class="button">Назад</button>

    <label for="price"><b>Цена</b></label>
    <input @bind-value="price"  class="text-field__input" type="text" placeholder="Введите цену товара" name="price" required minlength="1">

    <label for="img"><b>Изображение</b></label>
    <input @bind-value="img"  class="text-field__input" type="text" placeholder="Введите ссылку на изображение" name="img" required minlength="1">

    <label for="name"><b>Название</b></label>
    <input @bind-value="name"  class="text-field__input" type="text" placeholder="Введите название товара" name="name" required minlength="1">

    <label for="name"><b>Описание</b></label>
    <input @bind-value="description"  class="text-field__input" type="text" placeholder="Введите описание товара" name="name" required minlength="1">

    <label for="category"><b>Категория</b></label>
    <input @bind-value="categoryid"  class="text-field__input" type="text" placeholder="Введите ID категории товара" name="category" required>

    <button @onclick="AddCards" class="button">Подтвердить</button>

    <select @bind="categoryid">
        @foreach (var item in DBservice.category)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
}
else
{
    <h1>fuck off </h1>
}


@code
{

    string message = "Something in your request is empty";
    int category = -1;

    private int price = 0;
    private string img = string.Empty;
    private string name = string.Empty;
    private string description = string.Empty;
    private int categoryid;

    //db.Category.FirstOrDefault(x => x.Id == categoryid)
    private void AddCards()
    {
        uint N;
        if (price != 0 && img != null && name != null && description != null && categoryid != 0&&price>0&&Validata.SimpleValid(name)!=false&&Validata.SimpleValid(description)!=false)
        {
            //categoryid>0&&Validata.DigitValid(price)!=true&&Validata.DigitValid(categoryid)!=true&&
            DBservice.AddProduct(name, price, img, description, categoryid);
            DBservice.GetDataFromDB();
            price = 0; img = string.Empty; name = string.Empty; categoryid = DBservice.category.First().Id;
        }
        else
        {
            
        }

        
    }
    private void Reg()
    {
        //DBservice.AddUser(login, password);
        nav.NavigateTo("/adminpanel/");
    }
    


}