@using Anime.Data;
@using Anime.Model;

@inject NavigationManager nav;
@inject AppState state;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

@page "/registration"



<PageTitle>Registration</PageTitle>

<div class="container but">
    <label for="uname"><b>Логин</b></label>
    <input @bind-value="login" type="text" placeholder="Введите логин" name="uname" required minlength="3">
    

    <label for="psw"><b>Пароль</b></label>
    <input @bind-value="password" type="password" placeholder="Введите пароль" name="psw" required minlength="5">

    <button @onclick="Reg" class="background_but">Зарегистрироваться</button>
</div>

@code
{
    private string login = string.Empty;
    private string password = string.Empty;

    private async void Reg()
    {
        if(Validata.ExistUser(login)!=false&&Validata.SimpleValid(login)!=false&&Validata.SimpleValid(password)!=false&&Validata.SpaceValid(login)!=false&&Validata.SpaceValid(password)!=false&&login.Count()<20&&password.Count()<20)
        {
            
             DBservice.AddUser(login,password);
             nav.NavigateTo("/authorisation/");
        }
       
    }
}